/* место для вашего кода */

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  max-width: 1440px;
  margin: auto;
  padding: 92px 49px 92px 51px;
}

.header__links-list {
  list-style: circle;
  display: flex;
  gap: 32px;
}

.header__links-list-item {
  text-underline-offset: 5px;
  font-size: 18px;
  line-height: 135%;
}

.header__links-list-item:first-child {
  list-style: none;
}

.header__logo-link {
  justify-self: center;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address__list {
  list-style: none;
  justify-self: end;
  padding: 0 3px;
}

.address__list-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 135%;
  text-underline-offset: 4px;
}

.cover {
  max-width: 1440px;
  height: 756px;
  margin: auto;
  background-image: url(/images/cover.jpg);
  background-size: cover;
  position: relative;
  padding-top: 1px;
  z-index: 1;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
  position: absolute;
  z-index: -1;
}

.cover__title {
  font-size: 100px;
  color: #fff;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 165px 50px 134px 50px;
  letter-spacing: 30px;
}

.aligned-text {
  align-self: start;
  line-height: 1.14;
}

.letter-spacing-extended {
  margin-left: -25px;
}

.aligned-text_center {
  align-self: center;
  line-height: 1;
  margin-left: 18px;
}

.aligned-text_center .letter-spacing-extended {
  letter-spacing: 77px;
}

.aligned-text_right {
  align-self: end;
  line-height: 1;
  margin-right: -30px;
}

.aligned-text_right .letter-spacing-extended {
  letter-spacing: 9px;
}

.cover__description {
  display: flex;
  justify-content: end;
  color: #fff;
  align-items: center;
  font-size: 22px;
  line-height: 28px;
  margin-right: 50px;
  gap: 78px;
}

.cover__description-text {
  word-spacing: 17px;
}

.description-letter-spacing-extender {
  word-spacing: 22px;
}

.bet-button {
  background-color: transparent;
  padding: 12px 32px;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  border: 1px #fff solid;
  font-family: 'Raleway', sans-serif;
}

.lots {
  width: 1340px;
  margin: auto;
  margin-top: 180px;
}

.lots-heading {
  margin: 0 0 28px 40px;
  font-size: 40px;
  line-height: 47px;
  font-weight: 700;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
}

.lots__card-list-item {
 
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
  color: white;
}

.card {
  width: 430px;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.card__content {
  padding: 50px 40px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.card_type_film {
  background-image: url(/images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(/images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(/images/card-lot-03.jpg);
}

.card__title {
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.lots__look-more-link {
  display: block;
  margin: 31px 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  text-underline-offset: 5px;
}

.about {
  width: 1340px;
  margin: 181px auto 0 auto;
  display: grid;
  grid-template-columns: 430px auto;
  column-gap: 25px;
}

.about__column {
  justify-self: center;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  margin: 100px 0 102px 0; 
}

.about__text {
  margin-top: 1px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.about__text + .about__text  {
  margin-top: 29px;
}