/* место для вашего кода */

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  max-width: 1440px;
  margin: auto;
  padding: 92px 49px 96px 51px;
}

.header__links-list {
  list-style: circle;
  display: flex;
  padding-top: 3px;
  gap: 32px;
}

.header__links-list-item {
  text-underline-offset: 5px;
  font-size: 18px;
  line-height: 135%;
}

.header__links-list-item:first-child {
  list-style: none;
}

.header__logo {
  width: 148px;
  height: 105px;
  justify-self: center;
}

.address__list {
  list-style: none;
  justify-self: end;
  padding: 4px 3px 0 0;
}

.address__list-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 135%;
  text-underline-offset: 4px;
}

.cover {
  max-width: 1440px;
  height: 757px;
  margin: auto;
  background-image: url(/images/cover.jpg);
  background-size: cover;
  position: relative;
  padding-top: 1px;
  z-index: 1;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
  position: absolute;
  z-index: -1;
}

.cover__title {
  font-size: 100px;
  color: #fff;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 165px 50px 140px 50px;
  letter-spacing: 30px;
}

.aligned-text {
  align-self: start;
  line-height: 1.14;
}

.letter-spacing-extended {
  margin-left: -25px;
}

.aligned-text_center {
  align-self: center;
  line-height: 1;
  margin-left: 18px;
}

.aligned-text_center .letter-spacing-extended {
  letter-spacing: 77px;
}

.aligned-text_right {
  align-self: end;
  line-height: 1;
  margin-right: -30px;
}

.aligned-text_right .letter-spacing-extended {
  letter-spacing: 9px;
}
